<div class="slim-mainpanel">
  <div class="container mg-b-20 pd-0">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
        <i class="tx-primary icon ion-help-circled cursor-pointer tx-20-force"
          matTooltip="To get to know the career progression options and different career paths or job opportunities available throughout the organization"></i>
      </ol>
      <h6 class="slim-pagetitle ">
        <span>Career Ladder</span>
      </h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper mat-elevation-z3">
      <div class="row">
        <div class="col-8">
          <label class="tx-bold tx-primary tx-15">Career Path Descriptors</label>
          <div class="mg-l-20 ">
            <span class="tx-bold tx-dark tx-13">
              Two Main Career Path
            </span>
            <ul class="mg-t-10">
              <li class="mb-2"><span class="tx-12 tx-dark font-weight-bold">
                  Individual Contributor (IC) Career Path:</span>
                <div class="pd-l-10">The idea behind this is to recognize that there is a career path for people who
                  have technical skills and would like to pursue a technical career path that doesn't go through the
                  path of becoming a manager.</div>
              </li>

              <li class="mb-2"><span class="tx-12 tx-dark font-weight-bold">
                  Managertial Career Path:</span>
                <div class="pd-l-10">People choosing this path will have responsibilities to manage people, delivery,
                  customers and financials In many situations, after a certain level, this path will have a P & L
                  responsibility.
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4 pd-0 border  ht-200">
          <label class="tx-bold tx-white tx-15 wd-100p gradient-background text-center mg-0">Internal Job Post</label>
          <marquee class="pd-15 ht-150" onmouseover="this.stop()" onmouseout="this.start()" direction="up" width=""
           scrollamount="2">
            <div>
              <ul class="list-group">
                <li class="list-group-item border-0 pd-0-force pd-t-10-force" *ngFor="let item of job_list">
                  <p class="mg-b-0 cursor-pointer"><strong class="tx-inverse tx-medium"
                      (click)="openDialog(item?.id,item?._id)">
                      {{item?.role}}</strong>
                    <span *ngIf="(item.created_on | date:'yyyy/MM/dd') > (CurrentDate  | date:'yyyy/MM/dd')"
                      class="badge badge-success mg-l-10">New</span>
                  </p>
                </li>
              </ul>
            </div>
          </marquee>
        </div>
        <div class="col-10">
          <div class="mg-l-20" *ngIf="jsonObj.structure_name==2">
            <div class="tx-bold tx-dark tx-13">
              Career Path - PES
            </div>
            <img class="mg-t-10 border-5 mg-l-25 wd-75p" src="assets/img/pes_career.png" alt="">
          </div>
          <div class="mg-l-20" *ngIf="jsonObj.structure_name==5">
            <div class="tx-bold tx-dark tx-13">
              Career Path - DTS
            </div>
            <img class="mg-t-10 border-5 mg-l-25 wd-75p" src="assets/img/dts_as.png" alt="">
          </div>
          <!-- <div class="mg-l-20" *ngIf="jsonObj.structure_name==5">
            <span class="tx-bold tx-dark tx-13">
              Career Path - DTS
            </span>
            <img class="mg-t-10 border-5" src="assets/img/dts_erp.png" alt="">
          </div> -->
          <div class="mg-l-20" *ngIf="jsonObj.structure_name!=2 && jsonObj.structure_name!=5">
            <div class="tx-bold tx-dark tx-13">
              Career Path - Enabling Functions
            </div>
            <img class="mg-t-10 border-5 mg-l-25 wd-75p" src="assets/img/enabling_function.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>