<div class="slim-mainpanel">
  <div class="container mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span>Approve Skill</span>
      </h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
      <div class="mat-elevation-z8 mg-t-20">
        <table mat-table [dataSource]="mapping_data">

          <ng-container matColumnDef="employee_name">
            <th mat-header-cell *matHeaderCellDef> Employee </th>
            <td mat-cell *matCellDef="let element"> {{element.employee?.username}} - {{element.employee?.first_name}}
              {{element.employee?.last_name}} </td>
          </ng-container>

          <ng-container matColumnDef="band_name">
            <th mat-header-cell *matHeaderCellDef> Band </th>
            <td mat-cell *matCellDef="let element"> {{element.employee?.band_name}} </td>
          </ng-container>

          <ng-container matColumnDef="submitted_on">
            <th mat-header-cell *matHeaderCellDef> Submitted On </th>
            <td mat-cell *matCellDef="let element"> {{element.created_on | date : "dd-MM-yyyy"}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status =="a"?"Approved":"Submitted"}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td  class="text-center wd-10 cursor-pointer tx-15" mat-cell *matCellDef="let element">
              <i class="fa fa-eye" (click)="redirectPage('/employee_skill_view',element.employee?.id)"></i>
              <i *ngIf="element.status =='m'" class="fa fa-edit mg-l-5" (click)="redirectPage('/employee_skill_approve',element.employee?.id)"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>