<div class="slim-header">
  <div class="container">
      <div class="slim-header-left">
          <a href="http://localhost:4200/">
              <img src="assets/img/ideal_logo.jpg" class="" alt="iDeal">
          </a>
      </div><!-- slim-header-left -->
      <div class="slim-header-right">
        <div href class="logged-user">
          <img [src]="profile_pic" alt="">
          <span id="user_name"></span>
        </div>     
        <i (click)=Onlogout() class="fa fa-sign-out mg-l-5 cursor-pointer" style="font-size:24px" title="logout"></i>
      </div>
  </div><!-- container -->
</div><!-- slim-header -->




