<div class="slim-header">
  <div class="container">
      <div class="slim-header-left">
          <span class="cursor-pointer" (click)="change_page()">
              <img height="50px" src="assets/img/fast_logo_new.jpg" class="" alt="FAST">
      </span>
      </div><!-- slim-header-left -->
      <div class="slim-header-right">
        <div href class="logged-user">
          <img src="assets/img/profile_picture.jpg" alt="">
          <span id="user_name"></span>
        </div>     
        <i (click)=Onlogout() class="fa fa-sign-out mg-l-5 cursor-pointer" style="font-size:24px" title="logout"></i>
      </div>
  </div><!-- container -->
</div><!-- slim-header -->




