<div class="slim-mainpanel">
  <div class="container pd-0 mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span *ngIf="training_id;else add_span">Edit Training Calendar</span>
        <ng-template #add_span>Add Training Calendar</ng-template>
      </h6>
    </div><!-- slim-pageheader -->

    <div class="section-wrapper">
      <div class="float-right">
        <!-- <a href="javascript:;" onclick="javascript:back_button()"><i class="fa fa-arrow-left"></i> Back</a> -->
      </div>
      <div class="form-layout">
        <form [formGroup]="training_detail_formdata_submit" (change)=onchange()>
          <div class="row" formGroupName="form_data_save">
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="title" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Title" id="title">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="venue" class="validation_field save_validation_field" type="text"
                  placeholder="Enter Venue" id="venue" >
                  <mat-option *ngFor="let location of locations" [value]="location?.id">
                    HTL - {{location.city.city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input readonly matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                  formControlName="date" class="form-control validation_field save_validation_field bg-white"
                  placeholder="Enter Date" id="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row mg-b-25">
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="band" class="validation_field save_validation_field" placeholder="Enter Band"
                  id="band">
                  <mat-option *ngFor="let band of bands" [value]="band?.id">
                    {{band.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="unit" class="validation_field save_validation_field" placeholder="Enter Unit"
                  id="unit">
                  <mat-option *ngFor="let unit of units" [value]="unit.unit.id">
                    {{unit.unit.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="program_detail" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Program Detail" id="program_detail">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput formControlName="trainer_name" class="form-control validation_field save_validation_field" type="text" placeholder="Enter Trainer Name"
                  id="trainer_name">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select  formControlName="nomination_type" class="validation_field save_validation_field"
                 placeholder="Enter Nomination Type" id="nomination_type">
                 <mat-option value="Restricted">Restricted</mat-option>
                 <mat-option value="General">General</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="maximum_nomination" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Maximum Nomination" id="maximum_nomination" [value]="training_detail?.maximum_nomination">
                <mat-error *ngIf="training_detail_formdata_submit.get('maximum_nomination').hasError('pattern')">
                  Enter numeric value and maximum 3 digit number acceptable
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-layout-footer text-center">
            <button (click)="onClickSubmit(training_detail_formdata_submit.value,'submit')" onClick="this.disabled=true"
              [disabled]="!training_detail_formdata_submit.valid" class="btn btn-primary bd-0 mg-r-10" id="submit_btn">Submit</button>
            <button (click)="onClickSubmit(training_detail_formdata_submit.value,'save')" onClick="this.disabled=true"
              [disabled]="!training_detail_formdata_save.valid"
               class="btn btn-secondary bd-0" id="save_btn">Save</button>
          </div>
        </form>
      </div>
    </div>
    <input type="file" #fileupload  (change)="individualFileUpload($event)">
  </div>

  <div class="form-group col-md-6" >
      <button mat-raised-button (click)="fileUploader()">Upload</button>
</div>
</div>