<div class="slim-mainpanel">
  <div class="container mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span *ngIf="training_id;else add_span">Edit Training Calendar</span>
        <ng-template #add_span>Add Training Calendar</ng-template>
      </h6>
    </div><!-- slim-pageheader -->

    <div class="section-wrapper">
      <div class="float-right">
        <!-- <a href="javascript:;" onclick="javascript:back_button()"><i class="fa fa-arrow-left"></i> Back</a> -->
      </div>
      <div class="form-layout">
        <form [formGroup]="training_detail_formdata_submit">
          <div class="row" formGroupName="form_data_save">
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="title" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Title" id="title">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="venue" class="validation_field save_validation_field" type="text"
                  placeholder="Enter Venue" id="venue">
                  <mat-option *ngFor="let location of locations" [value]="location?.id">
                    HTL - {{location.city.city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input readonly matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date"
                  class="form-control validation_field save_validation_field bg-white" placeholder="Enter Date" id="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row mg-b-25">
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="band" class="validation_field save_validation_field" placeholder="Enter Band"
                  id="band">
                  <mat-option *ngFor="let band of bands" [value]="band?.id">
                    {{band.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="unit" class="validation_field save_validation_field" placeholder="Enter Unit"
                  id="unit">
                  <mat-option *ngFor="let unit of units" [value]="unit.unit.id">
                    {{unit.unit.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="program_detail" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Program Detail" id="program_detail">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput formControlName="trainer_name" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Trainer Name" id="trainer_name">
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <mat-select formControlName="nomination_type" class="validation_field save_validation_field"
                  placeholder="Enter Nomination Type" id="nomination_type">
                  <mat-option value="Restricted">Restricted</mat-option>
                  <mat-option value="General">General</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field>
                <input required matInput formControlName="maximum_nomination" class="form-control validation_field save_validation_field"
                  type="text" placeholder="Enter Maximum Nomination" id="maximum_nomination" [value]="training_detail?.maximum_nomination">
                <mat-error *ngIf="training_detail_formdata_submit.get('maximum_nomination').hasError('pattern')">
                  Enter numeric value and maximum 3 digit number acceptable
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="back_button col-lg-8 col-md-8 mg-t-20 pd-0">
            <div>
              <label class="section-title mg-b-10">Training Schedule <span class="tx-danger">*</span></label>
            </div>
            <div>
              <span class="add_new_date tx-primary cursor-pointer pd-t-20" (click)="onAddNew()" id="add_new_date" title="add date"><i
                  class="fa fa-plus tx-16"></i>
                Add</span>
              <!--<label class="tx-primary cursor-pointer" id="add_evaluvation"> <i class="fa fa-plus"></i> Add</label>-->
            </div>
          </div>
          <div class="col-lg-8 mg-t-10 pd-0" id="table_div">
            <div class="form-group mg-b-10-force pd-l-0">
              <div class="table-responsive">
                <table class="table mg-b-0 table-bordered" id="date_table">
                  <thead>
                    <tr>
                      <th class="wd-20p">Date</th>
                      <th class="wd-20p">From Time</th>
                      <th class="wd-20p">To Time</th>
                      <th class="wd-20p">Total Hours</th>
                      <th class="wd-20p">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <app-row  ng-class="test" *ngFor="let row of rowList" [row_length]="rowList.length" [row]="row" (onRemove)="onDeleteRow($event)"></app-row>
              </div>
            </div>
          </div>
          <div class="form-layout-footer text-center">
            <button (click)="onClickSubmit(training_detail_formdata_submit.value,'submit')" onClick="this.disabled=true"
              [disabled]="!training_detail_formdata_submit.valid" class="btn btn-primary bd-0 mg-r-10" id="submit_btn">Submit</button>
            <button (click)="onClickSubmit(training_detail_formdata_submit.value,'save')" onClick="this.disabled=true"
              [disabled]="!training_detail_formdata_save.valid" class="btn btn-secondary bd-0" id="save_btn">Save</button>
          </div>
        </form>
      </div>
      <div class="form-group">
        <label for="file" class="mg-r-10">Individual Upload</label>
        <input type="file" id="file" (change)="individualFileUpload($event.target.files)">
      </div>
      <div class="form-group">
        <label for="file" class="mg-r-10">Multiple Upload</label>
        <button mat-raised-button (click)="multipleFileUpload()">Upload</button>
      </div>
    </div>
  </div>
</div>