<div class="slim-mainpanel">
  <div class="container mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span>Add/Edit Skill</span>
        <!-- <ng-template #add_span>Add Skill</ng-template> -->
      </h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
      <div class="card card-dash-one mg-b-20 mat-elevation-z3">
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 pt-2 pb-0 pl-0 pr-0 bd-b bg-white">
            <!--<i class="icon ion-ios-analytics-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Name</label>
              <h6 class="text-dark card_heading">{{employee_detail?.employee_name}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->

          <div class="col-lg-3 col-md-6 pt-2 pb-0 pl-0 pr-0 bd-b bg-white">
            <!--<i class="icon ion-ios-stopwatch-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Reporting Manager</label>
              <h6 class="text-dark card_heading">{{employee_detail?.manager_name}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bd-b bg-white">
            <!--<i class="icon ion-ios-world-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Band</label>
              <h6 class="text-dark card_heading">{{employee_detail?.band}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bd-b bg-white">
            <!--<i class="icon ion-ios-world-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Category</label>
              <h6 class="text-dark card_heading">{{employee_detail?.category}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bd-b bg-white">
            <!--<i class="icon ion-ios-world-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">HT Experience</label>
              <h6 class="text-dark card_heading">{{employee_detail?.htl_experience}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <!-- row -->
        </div>
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 pt-2 pb-0 pl-0 pr-0 bg-white ">
            <!--<i class="icon ion-ios-analytics-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Designation</label>
              <h6 class="text-dark card_heading">{{employee_detail?.designation}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-3 col-md-6 pt-2 pb-0 pl-0 pr-0 bg-white">
            <!--<i class="icon ion-ios-pie-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">{{employee_detail?.practice_lable}}</label>
              <h6 class="text-dark card_heading">{{employee_detail?.unit}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bg-white">
            <!--<i class="icon ion-ios-stopwatch-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">{{employee_detail?.sub_practice_lable}}</label>
              <h6 class="text-dark card_heading">{{employee_detail?.practice}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bg-white">
            <!--<i class="icon ion-ios-stopwatch-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">{{employee_detail?.sub_practice_lable}}</label>
              <h6 class="text-dark card_heading">{{employee_detail?.sub_practice}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
          <div class="col-lg-2 col-md-6 pt-2 pb-0 pl-0 pr-0 bg-white">
            <!--<i class="icon ion-ios-stopwatch-outline"></i>-->
            <div class="dash-content">
              <label class="tx-primary">Overall Experience</label>
              <h6 class="text-dark card_heading">{{employee_detail?.overall_experience}}</h6>
            </div><!-- dash-content -->
          </div><!-- col-3 -->
        </div>
      </div>
      <div>
        <mat-tab-group>
          <mat-tab label="Add Skill">
            <mat-card style="color: #868ba1;" class="mat-elevation-z3">
              <div class="back_button col-lg-12 col-md-8 mg-t-30 pd-0 mg-b-30">
                <div>
                  <span class="text-dark tx-bold ">Note:</span>
                  <span class="text-dark pd-r-0"> Please Select All Practice/Sub Practice/Competency/Skills that are
                    applicable</span>
                </div>
                <div>
                  <span class="tx-primary cursor-pointer pd-t-20" (click)="onAddNew()"><i class="fa fa-plus tx-16"></i>
                    Add</span>
                  <!--<label class="tx-primary cursor-pointer" id="add_evaluvation"> <i class="fa fa-plus"></i> Add</label>-->
                </div>
              </div>
              <div class="col-lg-12 mg-t-20 pd-0">
                <div class="row mg-b-5">
                  <div class="col-lg-2 pd-r-0-force"><span class="font-weight-bold">Unit<span class="tx-danger">*</span></span></div>
                  <div class="col-lg-2 pd-r-0-force"><span class="font-weight-bold">Practice<span class="tx-danger">*</span></span></div>
                  <div class="col-lg-2 pd-r-0-force"><span class="font-weight-bold">Sub Practice<span class="tx-danger">*</span></span></div>
                  <div class="col-lg-2 pd-r-0-force"><span class="font-weight-bold">Competency<span class="tx-danger">*</span></span></div>
                  <div class="col-lg-2 pd-r-0-force"><span class="font-weight-bold">Skill<span class="tx-danger">*</span></span></div>
                  <div class="col-lg-1 pd-r-0-force"><span class="font-weight-bold">Remove</span></div>
                </div>
                <app-row *ngFor="let row of rowList" (selectedCompetency)="pushCompetency($event)" [row]="row"
                  [already_selected_skill]="already_selected_skill" (selectedCompetecnyList)="pushCompetencyList($event)"
                  [overall_competency_list]="selected_competency" (onRemove)="onDeleteRow($event)"></app-row>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab *ngIf="mapping_detail?.length > 0" label="Edit Skill">
            <div class="mat-elevation-z8 mg-t-20  tx-12">
              <div class="table-responsive">
                <table class="table table-bordered mg-b-0">
                  <thead>
                    <tr>
                      <th>Practice</th>
                      <th>Competency</th>
                      <th>Skill</th>
                      <th>Experience (Month)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let individual_skill of mapping_detail">
                      <td>{{individual_skill?.strucure}}</td>
                      <td>{{individual_skill?.competency_name}}</td>
                      <td>{{individual_skill?.skill_name}}</td>
                      <td class="pd-0-force pd-l-10-force pd-r-10-force">
                        <mat-form-field>
                          <input matInput type="text" #validation  (keypress)="keyPress($event)" (change)="update_skill(individual_skill.employee_skill_set_id,individual_skill.skill_id,$event.target.value)" maxlength="3" value="{{individual_skill?.experience_month}}">
                        </mat-form-field>
                        <mat-error *ngIf="validation.value<1">
                            Must be greater than zero
                          </mat-error>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- bd -->
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="col-lg-12 mg-t-10 text-center">
          <button [disabled]="check_disable()" mat-raised-button color="primary" (click)="openDialog()"
            id="submit_btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- !overall_competecny_list.size ||  -->