<div class="slim-mainpanel">
  <div class="container mg-b-20 pd-0">
    <div *ngIf="disable_popup" class="slim-pageheader ">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span>View Skill</span>
      </h6>
    </div><!-- slim-pageheader -->
    <div class="pd-0 ">
      <div class="mg-t-10">
        <app-employee-detail *ngIf="disable_popup" [employee_detail]="employee_detail"></app-employee-detail>
      </div>
      <div class="section-wrapper pd-0">
        <div class="d-flex mg-20 mg-b-0-force" *ngIf="current_role">
          <label class="tx-14 tx-bold tx-dark">Current Role : </label>
          <span class="tx-14 mg-l-5">{{current_role}} </span>
          <hr class="mg-b-0">
        </div>
        <table mat-table [dataSource]="mapping_data" matSort>

          <ng-container matColumnDef="strucure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Practice </th>
            <td mat-cell *matCellDef="let element">

              <span *ngIf="element?.strucure ; else show_structure">
                {{element.strucure}}
              </span>
              <ng-template #show_structure>
                <span>{{employee_detail.practice}}</span>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="competency_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Competency </th>
            <td mat-cell *matCellDef="let element"> {{element.competency_name}} </td>
          </ng-container>

          <ng-container matColumnDef="skill_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
            <td mat-cell *matCellDef="let element"> <span>{{element.skill_name}}</span>
              <!-- <span *ngIf="element?.skill_array ; else show_skill" style="color:#1b84e7"
                class="cursor-pointer" [matTooltip]="element?.skill_array.join('\n')" [matTooltipClass]="'my-tooltip'">
                {{element.skill_name}}
              </span>
              <ng-template #show_skill>
                <span>{{element.skill_name}}</span>
              </ng-template> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="experience_month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience in Months </th>
            <td mat-cell *matCellDef="let element" class="pd-l-20-force">
              <span *ngIf="element.experience_month;else NA">
                {{element.experience_month}}
              </span>
              <ng-template #NA>
                <span>Not Applicable</span>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="employee_proficiency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Relative Proficiency </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!disable_popup && element.experience_month ; else show_proficiency"
                class="cursor-pointer tx-primary" title="Click to View Proficiency Description"
                (click)="open_proficiency_popup(element?.mapping_id)">
                {{element.employee_proficiency}} <i class="fa fa-eye mg-l-5"></i>
              </span>
              <ng-template #show_proficiency>
                <span>{{element.employee_proficiency}}</span>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="manager_proficiency">
            <th mat-header-cell *matHeaderCellDef class="wd-40p" mat-sort-header> Manager Assessment </th>
            <td mat-cell *matCellDef="let element"> {{element?.manager_proficiency}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>