<div class="slim-mainpanel">
  <div class="container mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
          <i class="tx-primary icon ion-help-circled cursor-pointer tx-20-force" matTooltip="RMG can share the competencies & skills of all employees in the organization"></i>
      </ol>
      <h6 class="slim-pagetitle">
        <span>Employee Search</span>
      </h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper mat-elevation-z3">
      <form [formGroup]="formdata">
        <div class="section-wrapper  pd-10 mg-b-20">
          <div class="row ">
            <div class="col-lg-4 pd-l-10">
              <mat-form-field class="col-lg-12">
                <input formControlName="employee" type="text" (keyup)="update_employee_list($event)"
                  placeholder="Select Employee" aria-label="Select Employee" matInput [matAutocomplete]="employee">
                <mat-autocomplete #employee="matAutocomplete" id="employee" [displayWith]="displayFn">
                  <mat-option *ngFor="let key of Object.keys(filtered_employee_list)"
                    [value]="filtered_employee_list[key]">
                    {{filtered_employee_list[key]["employee_name"]}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div><!-- col -->
            <div class="col-lg-6 pd-l-10">
              <mat-form-field class="col-lg-12">
                <mat-select formControlName="skill" placeholder="Select Skill" id="skill_id" [multiple]="true">
                  <ngx-mat-select-search formControlName="skill_search" placeholderLabel="Search Skill"
                    noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                  <mat-option *ngFor="let skill of filtered_skill_list" [value]="skill">
                    {{skill?.skill_name}} ({{skill?.proficiency_name}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div><!-- col -->
            <div class="col-md-1 mg-t-10 mg-r-10">
              <button mat-raised-button color="primary" (click)="filter_employees()">Search</button>
            </div>
          </div><!-- row -->
        </div>
      </form>
      <div class="section-wrapper pd-0">
        <table mat-table [dataSource]="mapping_data">

          <ng-container matColumnDef="employee_name">
            <th mat-header-cell *matHeaderCellDef class="wd-40p"> Employee </th>
            <td mat-cell *matCellDef="let element"> {{employee_data[element?.employee_id].employee_name}}</td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element"> {{employee_data[element?.employee_id].unit}} </td>
          </ng-container>
          <ng-container matColumnDef="band">
            <th mat-header-cell *matHeaderCellDef> Band </th>
            <td mat-cell *matCellDef="let element"> {{employee_data[element?.employee_id].band_name}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td class="text-center wd-10 cursor-pointer tx-15" mat-cell *matCellDef="let element">
              <i class="fa fa-eye" (click)="openEmployeeSkill(element?.employee_id)"></i>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
  </div>
</div>