<div class="slim-mainpanel">
  <div class="container mg-b-20">
    <div class="slim-pageheader">
      <ol class="breadcrumb slim-breadcrumb">
      </ol>
      <h6 class="slim-pagetitle">
        <span>Approve Skill</span>
      </h6>
    </div><!-- slim-pageheader -->
    <div class="section-wrapper">
      <app-employee-detail [employee_detail]="employee_detail"></app-employee-detail>
      <div class="mat-elevation-z8 mg-t-20">
        <div class="table-responsive">
          <table class="table table-bordered mg-b-0">
            <thead>
              <tr>
                <th>Practice</th>
                <th>Competency</th>
                <th>Skill</th>
                <th>Experience in Months</th>
                <th>Standard Proficiency</th>
                <th>Manager Assessment</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skill_set of mapping_data">
                <td>{{skill_set.strucure}}</td>
                <td>{{skill_set.competency_name}}</td>
                <td>{{skill_set.skill_name}}</td>
                <td>{{skill_set.experience_month}}</td>
                <td>{{skill_set.employee_proficiency}}</td>
                <td class="pd-0-force pd-l-10-force pd-r-10-force">
                  <span *ngIf="skill_set?.manager_proficiency; else select_proficiency">
                    {{skill_set.manager_proficiency}}
                  </span>
                  <ng-template #select_proficiency>
                    <mat-form-field>
                      <mat-select placeholder="Select Proficiency" [(value)]="skill_set.employee_proficiency_id"
                        (selectionChange)="update_approve_list(skill_set.employee_skill_set_id,$event.value)">
                        <ng-container *ngFor="let proficiency of proficiencies;index as index">
                          <mat-option
                            *ngIf="(!skill_set.experience_month && !skill_set.strucure)|| (skill_set.experience_month && skill_set.strucure && index!=proficiencies.length-1)"
                            [value]="proficiency?.id">
                            {{proficiency.proficiency_name}}
                          </mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- bd -->
        <div class="col-lg-12 mg-t-10 pd-b-10 text-center">
          <button [disabled]="check_disable()" mat-raised-button color="primary" (click)="submit_data()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>