<tr class="col-lg-8 mg-t-10 pd-0 table-bordered">
    <td class="wd-20p"><input type="text"  class="form-control bd-0  bg-white validation_field datetime date_field" placeholder="DD-MM-YYYY"></td>
    <td class="wd-20p"><input type="text"  class="form-control bd-0 validation_field start_time" placeholder="HH:MM"></td>
    <td class="wd-20p"><input type="text"  class="form-control bd-0 validation_field end_time" placeholder="HH:MM"></td>
    <td class="wd-20p"><input type="text"  class="form-control bd-0 bg-white" placeholder="HH:MM" readonly></td>
    <td class=" wd-20p text-center"><i class="fa fa-close tx-20-force text-danger remove_row cursor-pointer" (click)="onRemoveRow(row)"></i></td>
</tr>