<div class="back_button">
  <span class="font-weight-bold"><i class="fa fa-close tx-20-force text-danger remove_row cursor-pointer"
      (click)="closeDialog()"></i></span>
</div>
<app-employee-job-view *ngIf="mapping_detail" [apply_job_page]="min_fitment_score_flag[0]" [no_popup]="no_popup"
  [mapping_detail]="mapping_detail" [view_type]="view_type">
</app-employee-job-view>
<div *ngIf="already_applied.length==0 && min_fitment_score_flag.length==0;else already_job_applied"
  class="row col-lg-12 mg-t-10 d-flex justify-content-center">
  <div class="col-3">
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Manager Agreed</mat-label>
      <mat-select placeholder="Manager Agreed" [formControl]="manager_agreed">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
      <mat-error *ngIf="!manager_agreed.value">
        Please Select Option
      </mat-error>
    </mat-form-field>
  </div>
  <div class="col-3 mg-t-7 pd-l-0">
    <button mat-raised-button [disabled]="!manager_agreed.value" class="mg-r-10-force" (click)="apply_job()"
      color="primary">Apply
      Job</button>
    <button mat-raised-button (click)="closeDialog()" color="warn">Close</button>
  </div>
</div>
<ng-template #already_job_applied>
  <h3 class="text-center text-danger" *ngIf="already_applied.length !=0;else min_fitment_score">Already Applied</h3>
</ng-template>
<ng-template #min_fitment_score>
  <h3 class="text-center text-danger">Minimum {{fitment_score}}% Fitment Score Required To Apply For This job</h3>
</ng-template>