<div class="login_background">
  <mat-grid-list cols="6" rowHeight="2:4">
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="2">
      <mat-card>
        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit()">
          <div class="mat-elevation-z8">
            <div class="bg-white pd-30" >
              <div>
                <alert></alert>
              </div>
              <div class="pd-xs-x-30 pd-y-10">
                <h5 class="tx-xs-28 tx-inverse mg-b-5">Welcome</h5>
                <p class="mg-b-0">Sign in to your account to continue</p>
                <br>
                <div class="form-group">
                  <mat-form-field>
                    <input matInput type="text" name="user_name" formControlName="user_name" class="form-control"
                      placeholder="Enter Username">
                  </mat-form-field>
                </div><!-- form-group -->
                <div class="form-group mg-b-20">
                  <mat-form-field>
                    <input matInput type="password" id="password" name="password" formControlName="password"
                      class="form-control" placeholder="Enter Password">
                  </mat-form-field>
                </div><!-- form-group -->
                <div class="text-center">
                  <button mat-raised-button color="primary" id="submit_btn">Sign In</button>
                </div>
              </div>
            </div><!-- pd-20 -->
          </div><!-- col-6 -->
        </form>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>