<div class="slim-mainpanel mg-t-20">
  <div class="container">
    <label class="section-title">Employee Info</label>
    <div class="table-responsive">
      <table class="table table-striped mg-b-0 border">
        <tbody>
          <tr>
            <td colspan="4" class="pd-0 text-center">
              <div id="profile_image">
                <img class="border" height="125px" width="125px" [src]="profile_image" alt="">
                                 
              </div>
            </td>
          </tr>
          <tr>
            <td class="label_text">Title</td>
            <td>{{employee_info.title}}</td>
            <td class="label_text">Date Of Joining</td>
            <td>{{employee_info.joined_date}}</td>
          </tr>
          <tr>
            <td class="label_text">Employee Number</td>
            <td>{{employee_info.username}}</td>
            <td class="label_text">Date of Resigned</td>
            <td>{{employee_info.resigned_date}}</td>
          </tr>
          <tr>
            <td class="label_text">First Name</td>
            <td>{{employee_info.first_name}}</td>
            <td class="label_text">Nationality</td>
            <td>{{employee_info.nationality}}</td>
          </tr>
          <tr>
            <td class="label_text">Last Name</td>
            <td>{{employee_info.last_name}}</td>
            <td class="label_text">PAN Number</td>
            <td>{{employee_info.pan_number}}</td>

          </tr>
          <tr>
            <td class="label_text">Middle Name</td>
            <td>{{employee_info.middle_name}}</td>
            <td class="label_text">Current Location</td>
            <td>{{employee_info.address_line1}}</td>
          </tr>
          <tr>
            <td class="label_text">Gender</td>
            <td>{{employee_info.gender}}</td>
            <td class="label_text">Employee Type</td>
            <td>{{employee_info.employee_type}}</td>
          </tr>
          <tr>
            <td class="label_text">Employment Status</td>
            <td>{{employee_info.employment_status}}</td>
            <td class="label_text">Marital Status</td>
            <td>{{employee_info.marital_status}}</td>
          </tr>

          <tr>
            <td class="label_text">Band</td>
            <td>{{employee_info.band_name}}</td>
            <td class="label_text">Mobile Number</td>
            <td>{{employee_info.mobile_number}}</td>
          </tr>
          <tr>
            <td class="label_text">Designation</td>
            <td>{{employee_info.designation}}</td>
            <td class="label_text">Fax Number</td>
            <td>{{employee_info.fax_number}}</td>
          </tr>
          <tr>
            <td class="label_text">Job Family</td>
            <td>{{employee_info.job_family}}</td>
            <td class="label_text">Work Email Address</td>
            <td>{{employee_info.work_email_address}}</td>
          </tr>
          <tr>
            <td class="label_text">Manager</td>
            <td>{{employee_info.manger_detail[0].first_name}} {{employee_info.manger_detail[0].last_name}}</td>
            <td class="label_text">Personal Email Address</td>
            <td>{{employee_info.personal_email_address}}</td>
          </tr>
          <tr>
            <td class="label_text">Practice Group</td>
            <td>{{employee_info.structure_name}}</td>
            <td class="label_text">Sub Practice</td>
            <td>{{employee_info.structure_name_subgroup}}</td>

          </tr>
          <tr>
            <td class="label_text">Practice</td>
            <td>{{employee_info.structure_name}}</td>
            <td class="label_text">Blood Group</td>
            <td>{{employee_info.blood_group}}</td>
          </tr>

          <tr>
            <td class="label_text">Date Of Birth</td>
            <td>{{employee_info.birth_date}}</td>
            <td class="label_text">Date of Released</td>
            <td>{{employee_info.released_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>